:root {
  --chess1-bg: #2d44a0;
  --chess2-bg: #3a66d6;
  --main-bg: #1d264e;
  background-color: var(--main-bg);

}

.main-bg {
  background-color: var(--main-bg);
}

/* Chess Background */
.chess1-bg {
  background-color: var(--chess1-bg);
}

.chess2-bg {
  background-color: var(--chess2-bg);
}

.chess {

  div:nth-child(4n+1),
  div:nth-child(4n+4) {
    @extend .chess1-bg;
  }


  div:nth-child(4n+2),
  div:nth-child(4n+3) {
    @extend .chess2-bg;
  }
}

.main-chess {
  div:nth-child(odd) {
    @extend .chess1-bg;
  }

  div:nth-child(even) {
    @extend .chess2-bg;
  }
}


/* Background gradient */
.gradient-bg {
  background: linear-gradient(90deg, rgb(111, 161, 235), rgb(56, 99, 216));
}

/* Button */
.main-button {
  background-color: var(--color-500);
  color: white;

  &:hover {
    background-color: var(--color-700);
    color: white;
  }
}

.player-card {
  @extend .gradient-bg;
  -webkit-box-shadow: 10px 10px 18px 10px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 18px 10px rgba(0, 0, 0, 1);
  box-shadow: 10px 10px 18px 10px rgba(0, 0, 0, 1);
}

/* Media Query */
/* SM SCREEN */

@media screen and (min-width:576px) {
  .main-chess {

    div:nth-child(4n+1),
    div:nth-child(4n+4) {
      background-color: var(--chess1-bg);
    }


    div:nth-child(4n+2),
    div:nth-child(4n+3) {
      background-color: var(--chess2-bg);
    }
  }
}

/* MD screen */
@media screen and (min-width: 768px) {
  .chess {
    div:nth-child(odd) {
      background-color: var(--chess1-bg);
    }

    div:nth-child(even) {
      background-color: var(--chess2-bg);
    }
  }
}


/* Large Screen */
@media screen and (min-width:992px) {
  .chess {

    div:nth-child(8n+1),
    div:nth-child(8n+3),
    div:nth-child(8n+6),
    div:nth-child(8n+8) {
      background-color: var(--chess1-bg);
    }

    div:nth-child(8n+2),
    div:nth-child(8n+4),
    div:nth-child(8n+5),
    div:nth-child(8n+7) {
      background-color: var(--chess2-bg);
    }
  }
}